#lesson-page{
  text-align: center;
  display : flex;
  flex-direction: column;
  justify-content: space-around;
  background: linear-gradient(gray, lightgray);
  min-height: 100vh;
  min-width: 100vw;
}

#summary{
  width:75%;
  align-self:center
}

#latex{
  height:50px;
  font-size: large;
}

#reg-text{
  width: max-content;
}

#practice-box{
  font-size: x-large;
  text-align: center;
  height: 90%;
  width:200px; 
}

#practice-link{
  align-self: center;
  width: fit-content;
  text-decoration: none;
  padding:50px;
}
