#topic-page{
  display:flex;
  flex-direction:column ;
  justify-content: space-around;
  align-items: center;
  padding-left: 50px;
  padding-right: 50px;
  background: linear-gradient(gray, lightgray);
  min-height: 100vh;
}

h3{
  text-align: center;
}

#lessons{
  width: 100%;
  display :flex;
  justify-content: space-around;
}