#title{
  text-align: left;
  padding-bottom: 5px;
}

#lesson-card{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding-left:10px;
  padding-right:10px;
}

.lesson{
  text-align: center;
  height: 150px;
  width:200px; 
  border: rgb(122, 122, 122) solid 1px;
  background-size: cover;
}

#lesson-link{
  text-decoration: none;
}

.lesson-name{
  color:black;
  padding:0;
  margin:0;
}
