.lesson{
  text-align: center;
  height: 90%;
  width:200px; 
  border: rgb(122, 122, 122) solid 1px;
}

#lesson-link{
  text-decoration: none;
}

.lesson-name{
  padding:0;
  margin:0;
}

.lesson-descript{
  height: 65%;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 14px;
}