.subject{
  display :flex;
  flex-direction: column;
  width: 100vw;
  height: 45vh;
  background :transparent
}

#sub-link{
  color:aliceblue;
  align-self: center;
  text-decoration: none;
  display : flex;
  justify-content: center;
  width: fit-content;
}

#sub-title {
  padding-top: 0;
  margin-top: 0;
  padding-bottom: 0;
  margin-bottom: 0;
  text-align: center;
  width: fit-content;
}

#topics{
  color:aliceblue;

  display:flex;
  justify-content: space-around;
  height: 67%;
}